
/*Btns Table*/

.btn-group-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    transition: all .3s ease-in-out;
}

.buttons-group {
    position: relative !important;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: absolute;
    width: 150px;
    height: 55px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    left: -80px;
    bottom: 0;
    transform: translateX(-50%) scale(1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    opacity: 1;
    transition: all .4s ease-in-out;
    animation: iconsUp .5s ease-in-out backwards;
    z-index: 5;
}

.icon-check {
    font-size: 20px;
}

.btn-icon {
    width: 35px !important;
    height: 35px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px !important;
    transition: all .3s ease-in-out;
    /*color: white !important; */
    margin-left: 7px;
    margin-right: 7px;
}


.col-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px !important;
}
/*
.btn-icon:hover .feather, [data-feather] {
    height: 1.4rem !important;
    width: 1.4rem !important;

}
*/
.btn-icon .feather, [data-feather] {
    height: 1.3rem !important;
    width: 1.3rem !important;
    transition: all .3s ease-in-out;

}

table thead tr {
    height: 50px;
}
table .title-table{
    font-size: 14px;
    text-transform: initial !important;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #fff;
}
table .content-text{
    font-size: 12px !important;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ececec;

}
table .content-text.links-column{

}
table.dataTable td, table.dataTable th {
    padding: 0.4rem .5rem !important;
}

.status-legend{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.status-legend .title-legend{
    font-size: 10px;
    font-weight: 500;
    margin-right: auto;
}
.status-legend .content-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}
.status-legend .text-legend{
    font-size: 10px;
}
.status-legend .icon-legend{
    font-size: 6px;
    margin-right: 2px;
    width: 1.2rem !important;
    height: 1.2rem !important;
    border-radius: 50% !important;
}
#sales-datatable .last-td{
    width: 110px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
table.dataTable thead .sorting:after{
   /* background: url( {{ asset('assets/images/svg/chevron-down.svg') }} ) !important;*/
}

#add_colab_link_datatable .qnt-link-th{
    width: 30% !important;
}
#add_colab_link_datatable .name-colab-th{
    width: 25% !important;
}



.last-td{
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
td{
    height: 60px !important;

}



/*Table*/

thead {
    background-color: #00a4b1;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

thead tr {
    height: 60px;
}

thead tr th:first-child {
    border-top-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
}

thead tr th,
tbody tr td {
    text-align: center;
}

tbody {
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #283046;

}

#admin-table .sorting:last-child{
    width: 180px !important;
}



.datatable{

}
.card-table{
    background-color: $bg-color !important;
}
#table_products{

}
.thead-none{
    display: none;
}
.tbody-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

.tr-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    border: 2px solid $border-color;
    background-color: $card-color !important;
    margin: 1.5%;
    border-radius: 5px;
}

.tr-card td{
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-product{
    width: 200px;

}
.tr-card .td-img{
    padding: 15px !important;
}

 @media (max-width:600px) {
    /* thead {
         display: none;
     }
     td {
         display: block;
     }
     td:first-child {
         background-color: #00a4b1;
         border-top-left-radius: 7px;
         border-top-right-radius: 7px;
         color: white;
         font-weight: 700;
     }
     td:nth-child(2)::before {
         content: "Email :";
     }
     td:nth-child(3)::before {
         content: "Qtd Clicks :";
     }
     td:nth-child(4)::before {
         content: "Opções :";
     }
     td {
         text-align: right;
         font-size: 12px !important;
     }
     td::before {
         float: left;
         margin-right: 0;
         font-weight: bold;
         padding: 4px;
         border-left: 2px solid #00a4b1;
         border-bottom: 2px solid rgba(0, 165, 177, 0.3);
         font-size: 16px !important;
     }*/
     #multilingual-datatable{
         margin-top: 8px;
     }
     .status-legend{
      margin-bottom: 10px;
    }
     .dataTables_length{
         text{
             display: none;
         }
     }
     .btn-icon {
         width: 25px !important;
         height: 25px !important;
         position: relative;
         margin-left: 5px;
         margin-right: 5px;
     }
     .btn-icon .icon {
         font-size: 10px;
     }
     td{
         min-width: 100px !important;
     }
     .last-td{
        min-width: 125px !important;
    }
    .dataTables_length{
        position: absolute;
        top: -10px;
        left: 10px;
       label{
           color: transparent !important;
       }
       select{
           z-index: 5;
           position: relative;
       }
    }
    .dataTables_filter{
        label{
            color: transparent !important;
        }
        input{
            position: absolute;
            bottom: 5px;
            right: 20px;
            z-index: 5;
        }
    }
    #links_table{
        .last-td {
            min-width: 135px !important;
        }
        #body_table_links{
            td:last-child{
                min-width: 145px !important;
            }
        }
    }
     
 }
 
 @media (max-width:360px) {
    /* td {
         text-align: right;
         font-size: 12px !important;
     }
     td::before {
         font-size: 12px !important;
     }*
     .btn-icon {
         width: 18px !important;
         height: 18px !important;
         position: relative;
     } */
     .btn-icon .icon {
         font-size: 8px;
     }
     .no-padding-mobile {
         padding: 5px;
     }
 }

 