/*Color dark padrão do tema
#4839eb
Button active bg #5e50ee
#00a4b1
#00a4b2 active
#03666d
*/

.video{
    max-width: 697px;
    max-height: 393px;
    border-radius: 15px;
    border: 1px solid #00a4b1;
}

.tab-content .card {
  background-color: rgba(114, 103, 240, 0.3) !important;
  background-color: transparent !important;
  color: rgb(223, 223, 223) !important;
}
.section-column-user{
    background-color: rgba(114, 103, 240, 0.3) !important;
    padding: 15px !important;
}
.nav-link.active{
    color: white !important;
}
.content-sales .card{
   /* background-color: rgba(0, 0, 0, 0.1) !important; */
}
.card-header{
    padding: 1rem !important;
}
/* integration */
.logo-integration{
    max-width: 180px;
}
.box-update-status{
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}
.note-link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 5px;
}
.header-note, .title-box-modal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}